<nav class="vm-l-header navbar navbar-expand-md navbar-dark fixed-top justify-content-between">&nbsp;</nav>

<section class="vm-l-main container-fluid ">

  <div class="row">

    <div class="vm-l-side col-12 col-sm-4 col-xl-3">

      <div class="vm-header row d-flex justify-content-between align-items-center">&nbsp;</div>
      <div class="vm-section collapse d-sm-block" id="bd-docs-nav">&nbsp;</div>

    </div>

    <div class="vm-l-content col-12 col-sm-8 col-xl-9 bg-light">&nbsp;</div>

  </div>

</section>

<footer class="vm-l-footer text-right">
  &nbsp;
</footer>
<style>
  .vm-l-header,
  .vm-l-main,
  .vm-l-footer {
    outline: 3px solid yellow; 
    background: none;
    padding: 1rem;
  }
  .vm-l-side {
    outline: 3px solid red; 
    background: none;
  }
  .vm-l-content {
    outline: 3px solid blue; 
    background: none !important;
  }
</style>