

<section class="vm-l-main container-fluid ">

  <div class="row justify-content-center">

    <section class="vm-l-content col-12 col-lg-8 pt-5 pb-5">
      <h2>Encontre os materiais disponíveis</h2>
      <div class="row">
        <div class="col-12 col-sm-4 pt-3">
          <label>Tipo de material</label><br>
          <select class="form-control">
            <option value="" disabled selected>Selecione</option>
            <option>Benefícios</option>
            <option>Cases de Sucesso</option>
            <option>Destaque</option>
            <option>Clientes referência</option>
          </select>
        </div>
        <div class="col-12 col-sm-4 pt-3">
          <label>Nome do material</label><br>
          <input type="text" class="form-control" placeholder="Insira um nome">
        </div>
        <div class="col-12 col-sm-4 pt-3">
          <label>Segmento</label><br>
          <select class="form-control">
            <option value="" disabled selected>Selecione</option>
            <option>Varejo</option>
            <option>Indústria</option>
            <option>Agronegócio</option>
            <option>Importação/Exportação</option>
          </select>
        </div>
      </div>   
    </section>

  </div>

  <div class="row justify-content-center bg-light">

    <section class="vm-l-content col-12 col-lg-10 col-xl-8 pt-5 pb-5">
      <div class="p-3">
        <div class="row justify-content-around d-none d-sm-flex pl-2 pr-2">
          <b class="col-2">Tipo</b>
          <b class="col-3">Nome</b>
          <b class="col-2">Segmento</b>
          <b class="col-1">Dores</b>
          <b class="col-2">Criação</b>
          <b class="col-1"></b>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-md-2">Benefícios</span>
          <span class="col-12 col-md-3">Benefícios para o usuário</span>
          <span class="col-12 col-md-2">Todos</span>
          <span class="col-12 col-md-1">1 dor</span>          
          <span class="col-12 col-md-2">09/08/2017</span>
          <span class="col-12 col-md-1 text-right">
            <button class="btn btn-link">Ver</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-md-2">Cases de Sucesso</span>
          <span class="col-12 col-md-3">A Porto Seguro otimizou em 54%</span>
          <span class="col-12 col-md-2">Vários</span>
          <span class="col-12 col-md-1">8 dor</span>          
          <span class="col-12 col-md-2">09/08/2017</span>
          <span class="col-12 col-md-1 text-right">
            <button class="btn btn-link">Ver</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-md-2">Destaque</span>
          <span class="col-12 col-md-3">Reduza custos na gestão</span>
          <span class="col-12 col-md-2">Automóveis</span>
          <span class="col-12 col-md-1">5 dores</span>          
          <span class="col-12 col-md-2">09/08/2017</span>
          <span class="col-12 col-md-1 text-right">
            <button class="btn btn-link">Ver</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-md-2">Destaque</span>
          <span class="col-12 col-md-3">Reduza ruídos na comunicaçao</span>
          <span class="col-12 col-md-2">Automóveis</span>
          <span class="col-12 col-md-1">1 dor</span>          
          <span class="col-12 col-md-2">09/08/2017</span>
          <span class="col-12 col-md-1 text-right">
            <button class="btn btn-link">Ver</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-md-2">Clientes referência</span>
          <span class="col-12 col-md-3">Ford</span>
          <span class="col-12 col-md-2">Automobilística</span>
          <span class="col-12 col-md-1">1 dor</span>          
          <span class="col-12 col-md-2">09/08/2017</span>
          <span class="col-12 col-md-1 text-right">
            <button class="btn btn-link">Ver</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-md-2">Cases de Sucesso</span>
          <span class="col-12 col-md-3">A Porto Seguro otimizou em 54%</span>
          <span class="col-12 col-md-2">Vários</span>
          <span class="col-12 col-md-1">8 dor</span>          
          <span class="col-12 col-md-2">09/08/2017</span>
          <span class="col-12 col-md-1 text-right">
            <button class="btn btn-link">Ver</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-md-2">Destaque</span>
          <span class="col-12 col-md-3">Reduza custos na gestão</span>
          <span class="col-12 col-md-2">Automóveis</span>
          <span class="col-12 col-md-1">5 dores</span>          
          <span class="col-12 col-md-2">09/08/2017</span>
          <span class="col-12 col-md-1 text-right">
            <button class="btn btn-link">Ver</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-md-2">Destaque</span>
          <span class="col-12 col-md-3">Reduza ruídos na comunicaçao</span>
          <span class="col-12 col-md-2">Automóveis</span>
          <span class="col-12 col-md-1">1 dor</span>          
          <span class="col-12 col-md-2">09/08/2017</span>
          <span class="col-12 col-md-1 text-right">
            <button class="btn btn-link">Ver</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-md-2">Clientes referência</span>
          <span class="col-12 col-md-3">Ford</span>
          <span class="col-12 col-md-2">Automobilística</span>
          <span class="col-12 col-md-1">1 dor</span>          
          <span class="col-12 col-md-2">09/08/2017</span>
          <span class="col-12 col-md-1 text-right">
            <button class="btn btn-link">Ver</button>
          </span>
        </div>
      </div>
    </section>

  </div>

</section>

<footer class="vm-l-footer row align-items-center justify-content-center">
  <div class="col-12 col-lg-8 text-right mr-5 p-0">
    <button class="btn btn-primary" ui-sref="criar-pitch">Criar novo pitch</button>
  </div>
</footer>