

<section class="vm-l-main container-fluid ">

  <div class="row justify-content-center">

    <section class="vm-l-content col-12 col-lg-8 pt-5 pb-5">
      <h2>Encontre e veja os pitchs que você já montou</h2>
      <div class="row">
        <div class="col-12 col-sm-6 pt-3">
          <label>Título do pitch</label><br>
          <input type="text" class="form-control" placeholder="Encontre o pitch">
        </div>
        <div class="col-12 col-sm-6 pt-3">
          <label>Segmento</label><br>
          <select class="form-control">
            <option value="" disabled selected>Selecione</option>
            <option>Varejo</option>
            <option>Indústria</option>
            <option>Agronegócio</option>
            <option>Importação/Exportação</option>
          </select>
        </div>
      </div>   
    </section>

  </div>

  <div class="row justify-content-center bg-light">

    <section class="vm-l-content col-12 col-lg-8 pt-5 pb-5">
      <h2>Meu histórico</h2>
      <p>Encontre e acesse os pitchs criados por você.</p>
      <br>
      <div class="p-3">
        <div class="row justify-content-around d-none d-sm-flex pl-1 pr-1">
          <b class="col-5">Título do pitch</b>
          <b class="col-3">Segmento</b>
          <b class="col-2">Criação</b>
          <b class="col-2"></b>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-sm-5">Pernambucanas</span>
          <span class="col-12 col-sm-3">Varejo - Eletromóveis</span>
          <span class="col-12 col-sm-2">09/08/2017</span>
          <span class="col-12 col-sm-2 text-right">
            <button class="btn btn-link" ui-sref="gestao-pitch">Editar</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-sm-5">Pitch Americanas</span>
          <span class="col-12 col-sm-3">Varejo - Eletromóveis</span>
          <span class="col-12 col-sm-2">09/08/2017</span>
          <span class="col-12 col-sm-2 text-right">
            <button class="btn btn-link">Editar</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-sm-5">Apresentação Ford</span>
          <span class="col-12 col-sm-3">Automóveis</span>
          <span class="col-12 col-sm-2">09/08/2017</span>
          <span class="col-12 col-sm-2 text-right">
            <button class="btn btn-link">Editar</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-sm-5">RH Fiat</span>
          <span class="col-12 col-sm-3">Automóveis</span>
          <span class="col-12 col-sm-2">09/08/2017</span>
          <span class="col-12 col-sm-2 text-right">
            <button class="btn btn-link">Editar</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-sm-5">Reunião JBS</span>
          <span class="col-12 col-sm-3">Alimentos</span>
          <span class="col-12 col-sm-2">09/08/2017</span>
          <span class="col-12 col-sm-2 text-right">
            <button class="btn btn-link">Editar</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-sm-5">Pitch da Pernambucanas</span>
          <span class="col-12 col-sm-3">Varejo - Eletromóveis</span>
          <span class="col-12 col-sm-2">09/08/2017</span>
          <span class="col-12 col-sm-2 text-right">
            <button class="btn btn-link">Editar</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-sm-5">Pitch Americanas</span>
          <span class="col-12 col-sm-3">Varejo - Eletromóveis</span>
          <span class="col-12 col-sm-2">09/08/2017</span>
          <span class="col-12 col-sm-2 text-right">
            <button class="btn btn-link">Editar</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-sm-5">Apresentação Ford</span>
          <span class="col-12 col-sm-3">Automóveis</span>
          <span class="col-12 col-sm-2">09/08/2017</span>
          <span class="col-12 col-sm-2 text-right">
            <button class="btn btn-link">Editar</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-sm-5">RH Fiat</span>
          <span class="col-12 col-sm-3">Automóveis</span>
          <span class="col-12 col-sm-2">09/08/2017</span>
          <span class="col-12 col-sm-2 text-right">
            <button class="btn btn-link">Editar</button>
          </span>
        </div>
        <div class="vm-card row justify-content-between align-items-center p-2 mb-2">
          <span class="col-12 col-sm-5">Reunião JBS</span>
          <span class="col-12 col-sm-3">Alimentos</span>
          <span class="col-12 col-sm-2">09/08/2017</span>
          <span class="col-12 col-sm-2 text-right">
            <button class="btn btn-link">Editar</button>
          </span>
        </div>

      </div>
    </section>

  </div>

</section>

<footer class="vm-l-footer row align-items-center justify-content-center">
  <div class="col-12 col-lg-8 text-right mr-3">
    <button class="btn btn-primary" ui-sref="criar-pitch">Criar novo pitch</button>
  </div>
</footer>