<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-9 col-xl-6">
      
      <section class="row vm-card p-4">
        <div class="col-12 mb-4">
          <h2>Gerenciamento de Destaque</h2>
          <p>Veja os conteúdos disponíveis:</p>
        </div>
        <div class="col-12 mb-4">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-5 mb-4 text-right">
              <img src="https://goo.gl/ussLmk" class="rounded img-fluid">
              <div class="vm-img-dropdown dropdown">
                <button
                  class="dropdown-toggle btn btn-link">
                  opções
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
                  <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-7">
              <h4>Reduza os custos na gestão compliance</h4>
              <p>Acima de tudo, é fundamental ressaltar que a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança dos conhecimentos estratégicos para atingir a excelência.</p>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-5 mb-4 text-right">
              <img src="https://goo.gl/pJW6YN" class="rounded img-fluid">
              <div class="vm-img-dropdown dropdown">
                <button
                  class="dropdown-toggle btn btn-link">
                  opções
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
                  <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-7">
              <h4>Entregue a melhor experiência para o cliente e tenha conteúdos exclusivos</h4>
              <p>Acima de tudo, é fundamental ressaltar que a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança dos conhecimentos estratégicos para atingir a excelência.</p>
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-5 mb-4 text-right">
              <img src="https://goo.gl/FYUSnw" class="rounded img-fluid">
              <div class="vm-img-dropdown dropdown">
                <button
                  class="dropdown-toggle btn btn-link">
                  opções
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
                  <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-8 col-lg-7">
              <h4>Transforme o poder da produtividade em transformação digital</h4>
              <p>Acima de tudo, é fundamental ressaltar que a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança dos conhecimentos estratégicos para atingir a excelência.</p>
            </div>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button class="btn btn-primary">Salvar alteração</button>
          <button class="btn btn-link">Cancelar</button>
        </div>
      </section>

      <br><br><br>
      
      <section class="row vm-card p-4">
        <div class="col-12 mb-4">
          <h2>Gerenciamento de Mídia</h2>
          <p>Veja os conteúdos disponíveis:</p>
        </div>
        <div class="vm-relative col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <img src="https://goo.gl/ussLmk" class="rounded img-fluid">
          <div class="vm-img-dropdown dropdown">
            <button
              class="dropdown-toggle btn btn-link"
              data-toggle="dropdown">
              opções
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
            </div>
          </div>
        </div>
        <div class="vm-relative col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <img src="https://goo.gl/FYUSnw" class="rounded img-fluid">
          <div class="vm-img-dropdown dropdown">
            <button
              class="dropdown-toggle btn btn-link"
              data-toggle="dropdown">
              opções
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
            </div>
          </div>
        </div>
        <div class="vm-relative col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <img src="https://goo.gl/FYUSnw" class="rounded img-fluid">
          <div class="vm-img-dropdown dropdown">
            <button
              class="dropdown-toggle btn btn-link"
              data-toggle="dropdown">
              opções
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
            </div>
          </div>
        </div>
        <div class="vm-relative col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <img src="https://goo.gl/ptz1KU" class="rounded img-fluid">
          <div class="vm-img-dropdown dropdown">
            <button
              class="dropdown-toggle btn btn-link"
              data-toggle="dropdown">
              opções
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
            </div>
          </div>
        </div>
        <div class="vm-relative col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <img src="https://goo.gl/FYUSnw" class="rounded img-fluid">
          <div class="vm-img-dropdown dropdown">
            <button
              class="dropdown-toggle btn btn-link"
              data-toggle="dropdown">
              opções
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
            </div>
          </div>
        </div>
        <div class="vm-relative col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <img src="https://goo.gl/ussLmk" class="rounded img-fluid">
          <div class="vm-img-dropdown dropdown">
            <button
              class="dropdown-toggle btn btn-link"
              data-toggle="dropdown">
              opções
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
            </div>
          </div>
        </div>
        <div class="vm-relative col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <img src="https://goo.gl/FYUSnw" class="rounded img-fluid">
          <div class="vm-img-dropdown dropdown">
            <button
              class="dropdown-toggle btn btn-link"
              data-toggle="dropdown">
              opções
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
            </div>
          </div>
        </div>
        <div class="vm-relative col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
          <img src="https://goo.gl/ussLmk" class="rounded img-fluid">
          <div class="vm-img-dropdown dropdown">
            <button
              class="dropdown-toggle btn btn-link"
              data-toggle="dropdown">
              opções
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Editar</a>
              <a class="dropdown-item" href="#" ui-sref="editar-conteudo">Excluir</a>
            </div>
          </div>
        </div>
        <div class="col-12 text-center mt-4">
          <button class="btn btn-primary">Salvar alteração</button>
          <button class="btn btn-link">Cancelar</button>
        </div>
      </section>

    </div>
  </div>
</div>