<nav class="vm-l-header fixed-top">
  <div class="navbar navbar-expand-md navbar-dark justify-content-between">

    <div class="nav-item dropdown d-none d-sm-block">
      <button
        class="btn btn-link dropdown-toggle"
        data-toggle="dropdown">
        <i class="icon-places-home-3"></i> Central Venda+
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" ui-sref="criar-pitch">Central de Venda+</a>
        <a class="dropdown-item" href="#" ui-sref="materiais">Materiais</a>
        <a class="dropdown-item" href="#" ui-sref="meus-pitchs">Meus Pitchs</a>
      </div>
    </div>

    <a class="navbar-brand" href="#"><span class="vm-logo badge badge-pill">Venda +</span></a>

    <div class="nav-item dropdown d-none d-sm-block">
      <button
        class="btn btn-link dropdown-toggle"
        data-toggle="dropdown">
        <img src="https://goo.gl/96rfWf" width="32" class="rounded-circle">
        Vanessa Ferreira
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="#">X</a>
        <a class="dropdown-item" href="#">Y</a>
        <a class="dropdown-item" href="#">Z</a>
      </div>
    </div>

    <div class="nav-item dropdown d-sm-none">
      <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
        menu
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <h6 class="dropdown-header">Central Venda+</h6>
        <a class="dropdown-item" href="#" ui-sref="criar-pitch">Central de Venda+</a>
        <a class="dropdown-item" href="#" ui-sref="materiais">Materiais</a>
        <a class="dropdown-item" href="#" ui-sref="meus-pitchs">Meus Pitchs</a>
        <h6 class="dropdown-header">right</h6>
        <a class="dropdown-item" href="#">X</a>
        <a class="dropdown-item" href="#">Y</a>
        <a class="dropdown-item" href="#">Z</a>
      </div>
    </div>
  </div>

</nav>


<div class="container-fluid vm-l-main">
  <div class="row">

    <div class="col-12 col-sm-4 col-xl-2 vm-l-side">

      <div class="vm-header row d-flex justify-content-between align-items-center m-0">
        <button
          class="btn-link d-flex d-sm-none"
          type="button"
          data-toggle="collapse"
          data-target="#bd-docs-nav"
          aria-controls="bd-docs-nav"
          aria-expanded="false"
          aria-label="Toggle docs avigation">
          <svg
            class=""
            xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 30 30"
            width="30"
            height="30"
            focusable="false">
            <title>Menu</title>
            <path
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-miterlimit="10"
              d="M4 7h22M4 15h22M4 23h22">
            </path>
          </svg>
        </button>
      </div>

      <div class="vm-side-body collapse d-sm-block vm-side-editing" id="bd-docs-nav">
        <div class="vm-side-body-tools">
          <div class="bg-light p-3">
            <button class="btn btn-ligth btn-outline-secondary mt-1 btn-lg-12">Novo produto</button>
            <button class="btn btn-ligth btn-outline-secondary mt-1">Novo agrupador</button>
            <div class="vm-input-search mt-3">
              <i class="icon-user-magnify2"></i>
              <input type="search" class="form-control" placeholder="Encontre..." >
            </div>
          </div>
          <div class="list-group"> 
            <div class="list-group bg-white">
              <h3><b>GESTÃO DE PESSOAS - HCM</b></h3>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><i class="icon-graduation-hat"></i> Manufatura
                <span class="vm-side-menu-item">
                  <i class="icon-cog-box"></i>
                  <i class="icon-navigation-next-12"></i>
                </span>
              </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary active"><i class="icon-lamp-studio-1"></i> Endomarketing
                <span class="vm-side-menu-item">
                  <i class="icon-cog-box"></i>
                  <i class="icon-navigation-next-12"></i>
                </span>
              </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><i class="icon-navigation-before-12"></i> Drawback
                <span class="vm-side-menu-item">
                  <i class="icon-cog-box"></i>
                  <i class="icon-navigation-next-12"></i>
                </span>
              </a>
            </div>
            <div class="list-group bg-white">
              <h3><b>GESTÃO DE PESSOAS - HCM</b></h3>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><i class="icon-graduation-hat"></i> Manufatura
                <span class="vm-side-menu-item">
                  <i class="icon-cog-box"></i>
                  <i class="icon-navigation-next-12"></i>
                </span>
              </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><i class="icon-lamp-studio-1"></i> Endomarketing
                <span class="vm-side-menu-item">
                  <i class="icon-cog-box"></i>
                  <i class="icon-navigation-next-12"></i>
                </span>
              </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><i class="icon-navigation-before-12"></i> Drawback
                <span class="vm-side-menu-item">
                  <i class="icon-cog-box"></i>
                  <i class="icon-navigation-next-12"></i>
                </span>
              </a>
            </div>
            <div class="list-group bg-white">
              <h3><b>GESTÃO DE PESSOAS - HCM</b></h3>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><i class="icon-graduation-hat"></i> Manufatura
                <span class="vm-side-menu-item">
                  <i class="icon-cog-box"></i>
                  <i class="icon-navigation-next-12"></i>
                </span>
              </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><i class="icon-lamp-studio-1"></i> Endomarketing
                <span class="vm-side-menu-item">
                  <i class="icon-cog-box"></i>
                  <i class="icon-navigation-next-12"></i>
                </span>
              </a>
              <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"><i class="icon-navigation-before-12"></i> Drawback
                <span class="vm-side-menu-item">
                  <i class="icon-cog-box"></i>
                  <i class="icon-navigation-next-12"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-xl-10 vm-l-content bg-light">
      <div class="container">

        <div class="row justify-content-between">
          <div class="pt-3 pb-3 col-6">
            <h3 class="vm-h3">Visualize o material:</h3>
          </div>
          <div class="pt-3 pb-3 col-6 text-right">
            Salvando...
          </div>
          <div class="vm-card col-12 mb-4">
        
            <h1 class="pt-4 pl-4">Pernambucanas</h1>
        
            <div class="row p-4">
              <div class="col-12 col-xl-6">
                <img src="http://speri.dept.shef.ac.uk/wp-content/uploads/2016/09/office-600.jpg" class="rounded img-fluid float-left mr-md-4 mb-md-4">
              </div>
              <div class="col-12 col-xl-6">
                <div class="row p-3 justify-content-between">
                  <span></span>
                  <div class="text-right">
                    <button class="mb-1 ml-1 vm-button-edit"><i class="icon-lock-unlock-12"></i> Visível</button>
                    <button class="mb-1 ml-1 vm-button-edit" ui-sref="editar-conteudo"><i class="icon-pencil-22"></i> Editar</button>
                  </div>
                </div>
                <h2>Reduza custos na gestão de compliance com precisão e segurança</h2>
                <p><b>Acima de tudo, é fundamental ressaltar que a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança dos conhecimentos estratégicos para atingir a excelência. Acima de tudo, é fundamental ressaltar que a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança dos conhecimentos estratégicos para atingir a excelência.</b>
                </p>
              </div>
            </div>

            <div class="row p-4 text-center text-md-left">
              <div class="col-12">
                <div class="row p-3 justify-content-between">
                  <h3><b>Clientes de referência</b></h3>
                  <div class="text-right">
                    <button class="mb-1 ml-1 vm-button-edit"><i class="icon-lock-unlock-12"></i> Visível</button>
                    <button class="mb-1 ml-1 vm-button-edit" ui-sref="editar-conteudo"><i class="icon-pencil-22"></i> Editar</button>
                  </div>
                </div>                
              </div>
              <div class="col-12 col-sm-6 col-md-3 text-center">
                <img src="https://image.ibb.co/i5eztw/cliente_volkswagem.png" class="rounded-circle img-fluid mb-4">
              </div>
              <div class="col-12 col-sm-6 col-md-3 text-center">
                <img src="https://image.ibb.co/hTdjtw/cliente_pepsi.png" class="rounded-circle img-fluid mb-4">
              </div>
              <div class="col-12 col-sm-6 col-md-3 text-center">
                <img src="https://image.ibb.co/mnPJLb/cliente-bb.png" class="rounded-circle img-fluid mb-4">
              </div>
              <div class="col-12 col-sm-6 col-md-3 text-center">
                <img src="https://image.ibb.co/m0i9tw/cliente_porto.png" class="rounded-circle img-fluid mb-4">
              </div>
            </div>

            <div class="row p-4 text-center text-md-left">
              <div class="col-12">
                <div class="row p-3 justify-content-between">
                  <h3><b>Senior em números</b></h3>
                  <div class="text-right">
                    <button class="mb-1 ml-1 vm-button-edit"><i class="icon-lock-unlock-12"></i> Visível</button>
                    <button class="mb-1 ml-1 vm-button-edit" ui-sref="editar-conteudo"><i class="icon-pencil-22"></i> Editar</button>
                  </div>
                </div>                
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-xl-2 text-center mb-3 mt-3">
                <h5>
                  <big>243</big><br/>
                  <small>Canais</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-xl-2 text-center mb-3 mt-3">
                <h5>
                  <big>+20.000</big><br/>
                  <small>Profissionais</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-xl-2 text-center mb-3 mt-3">
                <h5>
                  <big>700</big><br/>
                  <small>Números</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-xl-2 text-center mb-3 mt-3">
                <h5>
                  <big>+5 mil</big><br/>
                  <small>Histórias</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-xl-2 text-center mb-3 mt-3">
                <h5>
                  <big>+1 trilhão</big><br/>
                  <small>Usuários HCM</small>
                </h5>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-xl-2 text-center mb-3 mt-3">
                <h5>
                  <big>443</big><br/>
                  <small>Cidades</small>
                </h5>
              </div>
            </div>

            <div class="row p-4 bg-light">
              <div class="col-12">
                <div class="row p-3 justify-content-between">
                  <h3><b>Benefícios</b></h3>
                  <div class="text-right">
                    <button class="mb-1 ml-1 vm-button-edit"><i class="icon-lock-unlock-12"></i> Visível</button>
                    <button class="mb-1 ml-1 vm-button-edit" ui-sref="editar-conteudo"><i class="icon-pencil-22"></i> Editar</button>
                  </div>
                </div>                
              </div>
              <div class="col-12">
                <h2>Benefícios para o usuário</h2>
                <p>Geração da ECD e ECF (e-Lalur) totalmente automatizados a partir da contabilidade em uma única base.</p>
              </div>
              <div class="col-12 col-lg-4">
                <div class="card mb-3">
                  <img class="card-img-top" src="https://goo.gl/LUZyYJ" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="card mb-3">
                  <img class="card-img-top" src="https://goo.gl/LUZyYJ" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="card mb-3">
                  <img class="card-img-top" src="https://goo.gl/LUZyYJ" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row p-4">
              <div class="col-12">
                <div class="row p-3 justify-content-between">
                  <h3><b>Cases de sucesso</b></h3>
                  <div class="text-right">
                    <button class="mb-1 ml-1 vm-button-edit"><i class="icon-lock-unlock-12"></i> Visível</button>
                    <button class="mb-1 ml-1 vm-button-edit" ui-sref="editar-conteudo"><i class="icon-pencil-22"></i> Editar</button>
                  </div>
                </div>                
              </div>            
              <div class="col-12 col-lg-5">
                <img src="https://goo.gl/ussLmk" class="rounded img-fluid float-left mr-4 mb-4">
              </div>
              <div class="col-12 col-lg-7">
                <h2>Reduza custos na gestão de compliance com precisão e segurança</h2>
                <p><b>Acima de tudo, é fundamental ressaltar que a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança dos conhecimentos estratégicos para atingir a excelência. Acima de tudo, é fundamental ressaltar que a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança dos conhecimentos estratégicos para atingir a excelência.</b>
                </p>
              </div>
            </div>

            <div class="row p-4 bg-light">
              <div class="col-12">
                <div class="row p-3 justify-content-between">
                  <h3><b>Sobre a Senior</b></h3>
                  <div class="text-right">
                    <button class="mb-1 ml-1 vm-button-edit"><i class="icon-lock-unlock-12"></i> Visível</button>
                    <button class="mb-1 ml-1 vm-button-edit" ui-sref="editar-conteudo"><i class="icon-pencil-22"></i> Editar</button>
                  </div>
                </div>                
              </div>
              <div class="col-12">
                <div class="row justify-content-center">                  
                  <div class="col-12 col-lg-10 col-lx-8 p-4">
                    <div class="row align-items-center text-center text-md-left mb-3">
                      <div class="col-12 col-md-3 col-lg-2 text-center">
                        <i class="icon-match-stick big"></i>
                      </div>
                      <div class="col-12 col-md-9 col-lg-10">
                        <strong>Missão</strong>
                        <p class="card-text">Some quick example text to build on the cardSome quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-10 col-lx-8 p-4">
                    <div class="row align-items-center text-center text-md-left mb-3">
                      <div class="col-12 col-md-3 col-lg-2 text-center">
                        <i class="icon-places-warehouse-1 big"></i>
                      </div>
                      <div class="col-12 col-md-9 col-lg-10">
                        <strong>Negócio</strong>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-10 col-lx-8 p-4">
                    <div class="row align-items-center text-center text-md-left mb-3">
                      <div class="col-12 col-md-3 col-lg-2 text-center">
                        <i class="icon-paperplane2 big"></i>
                      </div>
                      <div class="col-12 col-md-9 col-lg-10">
                        <strong>Visão</strong>
                        <p class="card-text">Some quick example text to build on the card title and make upxample text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-lg-10 col-lx-8 p-4">
                    <div class="row align-items-center text-center text-md-left mb-3">
                      <div class="col-12 col-md-3 col-lg-2 text-center">
                        <i class="icon-music-note-1 big"></i>
                      </div>
                      <div class="col-12 col-md-9 col-lg-10">
                        <strong>Valores</strong>
                        <p class="card-text">Card title and make uand make up the bulk of thep the bulk of theand make up the bulk of theand make up the bulk of the card's content.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-4 mb-3 text-center text-md-left">
              <div class="col-12">
                <div class="row p-3 justify-content-between">
                  <h3><b>Mídia</b></h3>
                  <div class="text-right">
                    <button class="mb-1 ml-1 vm-button-edit"><i class="icon-lock-unlock-12"></i> Visível</button>
                    <button class="mb-1 ml-1 vm-button-edit" ui-sref="editar-conteudo"><i class="icon-pencil-22"></i> Editar</button>
                  </div>
                </div>                
              </div>                          
              <div class="col-12 col-sm-6 col-lg-3">
                <img class="rounded img-fluid mb-3" src="https://goo.gl/ZLqC4n">
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <img class="rounded img-fluid mb-3" src="https://goo.gl/E7AdUV">
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <img class="rounded img-fluid mb-3" src="https://goo.gl/6Vfmcf">
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                <img class="rounded img-fluid mb-3" src="https://goo.gl/VR4CCK">
              </div>
            </div>
                

            <div class="row p-4 mb-3 text-center text-md-left">
              <div class="col-12">
                <div class="row p-3 justify-content-between">
                  <h3><b>Nossas soluções para varejo</b></h3>
                  <div class="text-right">
                    <button class="mb-1 ml-1 vm-button-edit"><i class="icon-lock-unlock-12"></i> Visível</button>
                    <button class="mb-1 ml-1 vm-button-edit" ui-sref="editar-conteudo"><i class="icon-pencil-22"></i> Editar</button>
                  </div>
                </div>                
              </div>                          
              <div class="col-12">
                <img class="rounded img-fluid mb-3" src="http://agenciacarcara.com.br/wp-content/uploads/2016/08/criacao-infografico-site-brasilia-ilustracao-agencia-carcara-5.jpg">
              </div>
            </div>

            <div class="row p-4">
              <div class="col-12">
                <div class="row p-3 justify-content-between">
                  <div class="text-right">
                    <button class="mb-1 ml-1 vm-button-edit"><i class="icon-lock-unlock-12"></i> Visível</button>
                    <button class="mb-1 ml-1 vm-button-edit" ui-sref="editar-conteudo"><i class="icon-pencil-22"></i> Editar</button>
                  </div>
                </div>                
              </div>            
              <div class="col-12 text-center p-5">
                <h2>Obrigado!</h2>
              </div>
              <div class="col-12 p-5 text-center text-md-left">
                <div class="row justify-content-center align-items-center">
                  <img src="https://www.brasiljuridico.com.br/uploads/users/13739/Valton%20D%C3%B3ria%20Pessoa_7i6V_square400.png" class="rounded-circle float-left m-4">
                  <div>
                    <h4>Jonas Machado<br/><small>Consultor Senior</small></h4>
                    <p>jonas.machado@senior.com.br<br/>(48) 99808-9977</p>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<footer class="vm-l-footer row align-items-center justify-content-center">
  <div class="col-12 text-right mr-5">
    <button class="btn btn-secondary" ui-sref="apresentacao-pitch">Apresentar material</button>
  </div>
</footer>